<header>
  <nav>
    <div class="logo-wrapper">
      <app-button class="menu-btn" (onClick)="onToggleSidebar()">
        <span class="material-symbols-outlined"> menu </span>
      </app-button>
      <h1 class="logo">Golden Book.</h1>
    </div>
    <div class="loginBtn-wrapper">
      <span class="material-symbols-outlined" [matMenuTriggerFor]="menu">
        account_box
      </span>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onLogout()">
          <span class="material-symbols-outlined"> logout </span> Logout
        </button>
      </mat-menu>
    </div>
  </nav>
</header>
