@import "../../../../assets/styles/variables.scss";

header {
  height: 3rem;
  background: linear-gradient(
    0deg,
    rgba(39, 39, 39, 0.5802696078431373) 30%,
    rgba(0, 0, 0, 1) 85%
  );

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0 2.5%;

    .logo-wrapper {
      display: flex;
      align-items: center;
      max-width: 100%;

      .menu-btn ::ng-deep button {
        background-color: transparent;
        color: $gb-primary;
      }

      .logo {
        letter-spacing: 4px;
        margin-left: 1rem;
      }
    }
  }
}
