<article>
  <h3>{{ book?.title }}</h3>
  <div class="content-wrapper">
    <div class="image-wrapper">
      <img src="{{ book?.imageSrc }}" alt="{{ book?.title }}" />
    </div>
    <div class="book-overwiew-wrapper">
      <h5>{{ book?.firstName }} {{ book?.lastName }} :{{ book?.year }}</h5>
      <h5>{{ book?.category }}</h5>
      <p>
        {{ book?.description }}
      </p>
      <app-button
        [label]="buttonLabel"
        (onClick)="onBookOverview()"
      ></app-button>
    </div>
  </div>
</article>
