@import "../../../../assets/styles/variables.scss";

:host {
  .book-paginator::ng-deep {
    background-color: transparent;
    color: $gb-primary;

    .mat-select-value,
    .mat-select-arrow {
      color: $gb-primary;
    }

    .mat-button-disabled {
      color: $gb-secondary;
    }
  }
}
