.search-wrapper {
  position: relative;

  input {
    width: 15rem;
    height: 2rem;
    border-radius: 0.25rem;
    background-color: ivory;
    padding-left: 0.5rem;
    padding-right: 2rem;
  }

  ::ng-deep button {
    position: absolute;
    right: 0;
    height: 2rem;
    background-color: ivory;
    border-radius: 0.25rem;
  }
}

@media only screen and (min-width: 600px) {
  input {
    width: 30rem !important;
  }
}
