@import "../../../../../../assets/styles/variables.scss";

::ng-deep .mat-dialog-container {
  background-color: $gb-primary;
  color: $gb-secondary;

  .dialog-modal {
    height: 100%;

    .mat-dialog-content {
      height: 350px;
      width: 350px;
      position: relative;
      font-size: 0.85rem;

      button {
        position: absolute;
        bottom: 0;
        background-color: $gb-secondary;
        color: $gb-primary;
        padding: 1rem 1.5rem;
        border-radius: 0.3rem;
        font-size: 1rem;
        margin: 1rem 0;
      }
    }
  }
}
