<div class="home-page-wrapper">
  <h2>{{ pageTitle }}</h2>
  <div class="search-filter-wrapper">
    <app-search [placeholder]="searchPlaceholder"></app-search>
    <app-dropdown
      [placeholder]="filterPlaceholder"
      [selectField]="categoryArray"
    ></app-dropdown>
  </div>
  <mat-grid-list
    [cols]="breakpoint"
    [rowHeight]="heightOfRow"
    gutterSize="1rem"
    (window:resize)="onResize($event)"
  >
    <mat-grid-tile *ngFor="let book of booksArray">
      <app-card [book]="book"></app-card>
    </mat-grid-tile>
  </mat-grid-list>
  <app-pagination></app-pagination>
</div>
