@import "../../../../../assets/styles/variables.scss";

.login-wrapper {
  color: $gb-primary;
  width: 100%;
  display: flex;
  justify-content: center;

  form {
    position: absolute;
    top: 30%;
    letter-spacing: 2px;
    width: 18rem;

    h2,
    p {
      margin: 0.3rem 0;
    }

    input,
    button {
      display: block;
      height: 2rem;
      width: 100%;
      margin: 0.3rem 0;
      border-radius: 0.25rem;
    }

    input {
      background-color: $gb-primary;
      color: $gb-secondary;
      padding-left: 0.5rem;
    }

    a {
      color: $gb-primary;
      text-decoration: underline;
      cursor: pointer;
    }

    button {
      background-color: $gb-secondary;
      color: $gb-primary;
      cursor: pointer;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 2px;
    }
  }
}

.bubble::after {
  content: "";
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
  position: absolute;
  bottom: 0;
  z-index: -1;
  width: 100%;
  background-color: burlywood;
  height: 85%;
}
