<div class="login-wrapper bubble">
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <h2>Login</h2>
    <input type="email" placeholder="Email" formControlName="email" />
    <input type="password" placeholder="Password" formControlName="password" />
    <button
      type="submit"
      [ngClass]="form.invalid ? 'disabled' : ''"
      [disabled]="form.invalid"
    >
      Login
    </button>
    <p>
      Or <a routerLink="/registration">Register</a> if you don't have account.
    </p>
  </form>
</div>
