<div class="side-nav-wrapper">
  <mat-list role="list" class="menu-list">
    <mat-list-item role="listitem">
      <a routerLink="/homepage"
        ><span class="material-symbols-outlined"> home </span>Homepage</a
      >
    </mat-list-item>
    <mat-accordion multi="true" class="menu-accordion">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <a
            ><span class="material-symbols-outlined"> list </span> Categories</a
          >
        </mat-expansion-panel-header>
        <a>General</a>
        <a>Categories</a>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion multi="true" class="menu-accordion">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <a
            ><span class="material-symbols-outlined">
              admin_panel_settings
            </span>
            Admin</a
          >
        </mat-expansion-panel-header>
        <a>Books</a>
        <a>Categories</a>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-list>
</div>
