@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: black;
  color: ivory;
  font-size: 14px;

  h1 {
    font-size: 24px;
  }

  h2,
  h3 {
    font-size: 22px;
  }
  h4,
  h5 {
    font-size: 15px;
  }

  ul {
    list-style: none;
  }

  a {
    color: ivory;
    text-decoration: none;
  }

  button {
    border: none;
    background-color: none;
  }

  input,
  select {
    outline: none;
    border: none;
  }

  .container {
    margin: 0 10%;
  }

  main {
    padding: 2.5% 0;
  }
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 200, "opsz" 48;
}
