// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$golden-book-primary: mat.define-palette(mat.$indigo-palette);
$golden-book-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$golden-book-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$golden-book-theme: mat.define-light-theme(
  (
    color: (
      primary: $golden-book-primary,
      accent: $golden-book-accent,
      warn: $golden-book-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($golden-book-theme);

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import "./assets/styles/variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;

  body {
    background-color: black;
    color: $gb-primary;
    font-size: 12px;

    h1 {
      font-size: 24px;
    }

    h2,
    h3 {
      font-size: 22px;
    }
    h4,
    h5 {
      font-size: 15px;
    }
    h6 {
      font-size: 13px;
    }

    ul {
      list-style: none;
    }

    a {
      text-decoration: none;
      color: $gb-primary;
    }

    button {
      border: none;
      background-color: none;
    }

    input,
    select {
      outline: none;
      border: none;
    }

    .container {
      margin: 0 5%;
    }

    main {
      padding: 1% 0;
      height: 100%;
      overflow: auto;
      background: url("./assets/images/golden-book.png") no-repeat black 5% 50%;
    }

    .primary-layout {
      background-color: $gb-primary;
      color: $gb-secondary;
    }

    .secondary-layout {
      background-color: $gb-secondary;
      color: $gb-primary;
    }
  }

  .material-symbols-outlined {
    font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 200, "opsz" 48;
  }

  .active-link {
    opacity: 1;
    background-color: $gb-secondary;
    border-right: 5px solid $gb-primary;
  }
}

@media only screen and (min-width: 1140px) {
  .container {
    margin: 0 15% !important;
  }
}
