@import "./../assets/styles/variables.scss";

:host {
  .menu-btn ::ng-deep button {
    background-color: transparent;
    color: $gb-primary;
  }

  .drawer-container {
    background-color: transparent;

    .side-drawer {
      background-color: transparent;
      border-right: 1px solid $gb-primary;
      width: 22%;
    }
  }
}

@media only screen and (min-width: 656px) and (max-width: 1024px) {
  :host {
    .drawer-container {
      .side-drawer {
        width: 32% !important;
      }
    }
  }
}

@media only screen and (max-width: 656px) {
  :host {
    .drawer-container {
      .side-drawer {
        width: 100% !important;
      }
    }
  }
}
