@import "../../../assets/styles/variables.scss";

:host {
  .drawer-container {
    background-color: transparent;
    min-height: 50rem;

    .side-drawer {
      background-color: transparent;
      border-right: 1px solid $gb-primary;
      width: 22%;
    }
  }
  .side-nav-wrapper {
    height: 100%;
    margin-right: 1.5rem;
    background-color: black;
    opacity: 0.7;

    .menu-list {
      .mat-list-item {
        color: $gb-primary;
        cursor: pointer;
        height: 2.5rem;

        ::ng-deep .mat-list-item-content {
          padding: 0;
        }
      }

      a {
        height: 2.5rem;
        width: 100%;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        padding: 0 2rem;
        font-size: 1rem;

        span {
          margin-right: 0.5rem;
        }

        &:hover {
          opacity: 1;
          background-color: $gb-secondary;
          border-right: 5px solid $gb-primary;
        }
      }
      .menu-accordion {
        width: 100%;

        .mat-expansion-panel {
          color: $gb-primary;
          background-color: black;

          .mat-expansion-panel-header {
            padding: 0;
          }

          ::ng-deep .mat-expansion-panel-body {
            padding: 0;

            a {
              text-transform: capitalize;
              padding-left: 4rem;
            }
          }

          ::ng-deep .mat-expansion-indicator::after {
            position: absolute;
            right: 1rem;
            bottom: 0;
            color: $gb-primary;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 656px) and (max-width: 1024px) {
  :host {
    // .drawer-container {
    .side-drawer {
      width: 32% !important;
    }
    // }
  }
}

@media only screen and (max-width: 656px) {
  :host {
    // .drawer-container {
    .side-drawer {
      width: 100% !important;
    }
    // }
  }
}
