::ng-deep .dropdown-wrapper {
  min-width: 18rem;

  ::ng-deep .mat-form-field-infix {
    width: 100%;
  }

  ::ng-deep .mat-select {
    background-color: ivory;
    border-radius: 0.25rem;
    padding: 0.5rem;
  }

  mat-label {
    color: darkgray;
  }
}

::ng-deep .mat-select-panel {
  background-color: ivory !important;
  min-width: 18rem !important;
  position: absolute;
  left: 2rem;
  top: 2.5rem;

  .mat-pseudo-checkbox-checked {
    background-color: grey;
  }

  .mat-option-text {
    color: gray;
    font-weight: 500;
  }
}

.mat-chip.mat-standard-chip {
  background-color: ivory;
  color: gray;
}

@media only screen and (min-width: 600px) {
  ::ng-deep .dropdown-wrapper {
    width: 32rem;
  }

  ::ng-deep .mat-select-panel {
    min-width: 32rem !important;
  }
}
