@import "../../../../assets/styles/variables.scss";

:host {
  width: 50%;

  .dropdown-wrapper::ng-deep {
    width: 100%;

    .mat-select {
      background-color: $gb-primary;
      border-radius: 0.25rem;
      padding: 0.5rem;
      height: 2rem;
    }

    .mat-form-field-label {
      padding: 0 0.5rem;
      color: $gb-secondary;
      font-size: 1rem;
      text-shadow: 1px 1px $gb-primary;
    }
  }

  .mat-chip.mat-standard-chip {
    background-color: $gb-primary;
    color: $gb-secondary;
    min-height: 1.5rem;
  }
}

::ng-deep .dropdownPanel {
  background-color: $gb-primary;
  min-width: calc(100% + 16px) !important;
  position: absolute;
  top: 2.5rem;
  left: 2rem;

  .mat-pseudo-checkbox-checked {
    background-color: $gb-secondary;
  }

  .mat-option-text {
    color: $gb-secondary;
    font-weight: 500;
  }
}
