@import "../../../../assets/styles/variables.scss";

.home-page-wrapper {
  height: 100%;
  margin: 2.5% 0;

  h2 {
    color: $gb-primary;
  }

  .search-filter-wrapper {
    display: flex;
    justify-content: center;
    margin: 2.5rem 0;
    gap: 3rem;
    width: 100%;
  }

  .book-list-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;

    .book-card {
      max-width: 100%;
    }
  }
}

@media only screen and (min-width: 740px) and (max-width: 1480px) {
  .home-page-wrapper {
    .book-list-wrapper {
      .book-card {
        max-width: 48%;
      }
    }
  }
}

@media only screen and (min-width: 1480px) {
  .home-page-wrapper {
    .book-list-wrapper {
      .book-card {
        max-width: 32%;
      }
    }
  }
}
