<div class="registration-wrapper bubble">
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <h2>Registration</h2>
    <input type="text" placeholder="First Name" formControlName="firstName" />
    <input type="text" placeholder="Last name" formControlName="lastName" />
    <input type="email" placeholder="Email" formControlName="email" />
    <!-- <app-dropdown
    [placeholder]="'Country'"
    [simpleDropdown]="true"
    [selectField]="test"
    (selectedValue)="selectedCountry($event)"
    ></app-dropdown> -->
    <select formControlName="countryId" (change)="selectedCountry($event)">
      <option [value]="">-- Please choose a country --</option>
      <option *ngFor="let country of test; let i = index" [value]="i + 1">
        {{ country }}
      </option>
    </select>
    <input type="password" placeholder="Password" formControlName="password" />
    <input
      type="password"
      placeholder="Confirm password"
      formControlName="confirmPassword"
    />
    <button
      type="submit"
      [ngClass]="
        this.form.invalid ||
        this.form.value.password !== this.form.value.confirmPassword ||
        this.countryIndex === undefined
          ? 'disabled'
          : ''
      "
      [disabled]="
        this.form.invalid ||
        this.form.value.password !== this.form.value.confirmPassword ||
        this.countryIndex === undefined
      "
    >
      Register
    </button>
    <p>Or <a routerLink="/login">Login</a> if you already have account.</p>
  </form>
</div>
